IP_INTERNAL_SENSOR="http://localhost:8082/mocked_internalsensor"
IP_EXTERNAL_SENSOR="http://localhost:8082/mocked_externalsensor"
AIRLY_IP="http://localhost:8082/mocked_airly"
AIRLY_INSTALLATION_IP="http://localhost:8082/mocked_externalsensor"
AIRLY_API_KEY="mockedApiKey"
SUN_RISE_SET_IP="http://localhost:8082/mocked_sunsetrise"
ACCU_WEATHER_URL="http://localhost:8082/mocked_accuweather"